################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

*.scc
*.user
*.suo
*.sdf
bin/
obj/
Debug/
Release/
*.opensdf

/.vs/config/
/.vs/SourceCounterEx/v14